@model GymAppLite.Models.SubscriptionType

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">➕ Yeni Paket Ekle</h6>
    </div>
    <div class="card-body">
        <form href="@Url.Action("Create", "SubscriptionType")" method="post">
            <div class="form-group mb-3">
                <label>Paket Adı</label>
                <input asp-for="TypeName" class="form-control" placeholder="Örn: 3 Aylık Standart" required />
            </div>
            <div class="form-group mb-3">
                <label>Fiyatı</label>
                <input asp-for="Price" type="number" step="0.01" class="form-control" placeholder="Örn: 1200" required />
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
            <a href="@Url.Action("Index", "SubscriptionType")" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>