@model GymAppLite.Models.Trainer

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">➕ Yeni Antrenör Ekle</h6>
    </div>
    <div class="card-body">
        <form href="@Url.Action("Create", "Trainers")" method="post">
            <div class="form-group mb-3">
                <label>Ad Soyad</label>
                <input asp-for="FullName" class="form-control" placeholder="Örn: Ahmet Yılmaz" required />
            </div>
            <div class="form-group mb-3">
                <label>Uzmanlık Alanı</label>
                <input asp-for="Expertise" class="form-control" placeholder="Örn: Bodybuilding, Fitness, Pilates" required />
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
            <a href="@Url.Action("Index", "Trainers")" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>